*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    min-width: 8rem;
    min-height: 8rem;
    padding: 5rem;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    color: pointer;

}

.grandparent{
    background: #b1d4e0;
    color: black;
}

.parent{
    background: #145da0;
}

.child{
    background: #0c2d48;
}